*{
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  height: 100vh;
  background-image: url("../Image/ocean.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
}

#block-login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 50vh;
  border-radius: 8px;
  backdrop-filter: blur(10px);
}

#container-login{
  width: 20vw;
  height: 40vh;
  padding: 1rem;
}

h1{
  text-align: center;
  padding: 1rem;
  color: var(--var-cor-azul);
  font-size: 36px;
}

#box-login{
  align-items: center;
  align-self: center;
  align-content: center;
}

#information-login{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin: 2rem;
  border: none;
  outline: none;
  font-size: 1rem;
}

#submit{
  background-color: var(--var-cor-azul);
  font-size: 1rem;
  font-weight: 600;
  color: var(--var-cor-texto);
}

#submit:hover{
  background-color: var(--var-cor-hover-azul-escuro);
  transition: 2s;
  color: var(--var-cor-texto);
}

#forget-password{
  font-size: 1rem;
}

a{
  text-decoration: none;
  color: var(--var-cor-texto);
}