@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("./variaveis.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  display: flex;
  min-height: 100vh;
  background-color: var(--var-cor-branca);
  color: var(--var-cor-branca);
  font-size: 16px;
}

main{
  padding: 20px;
}

#sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--var-cor-azul);
  height: 100vh;
  position: relative;
  transition: all .5s;
  min-width: 82px;
}

#sidebar_content{
  padding: 12px;
}

.menu{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  font-size: 24px;
}

#text_title{
  margin-left: 5px;
}

#logo{
  object-fit: cover;
  width: 100%;
  height : 80px;
  font-size: 60px;
  text-align: center;
}

#side_items{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
}

.side_item{
  font-size: inherit;
}

.side_item i{
  font-size: 24px;
}

.side_item a{
  display: flex;
  align-items: center;
  color: inherit;
}

.side_item a i{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

#text_margin{
  margin-left: 15px;
}

#logout{
  border-top: 1px solid var(--var-cor-hover-azul-escuro);
  padding: 12px;
  color: inherit;
}

#logout_btn{
  display: flex;
  background-color: transparent;
  font-size: inherit;
  padding: 12px;
  gap: 20px;
  border: none;
  align-items: center;
  text-align: start;
  cursor: pointer;
}

#open_btn{
  position: absolute;
  top: 30px;
  right: -10px;
  border: none;
  cursor: pointer;
  background-color: red;
}

.open_btn_icon{
  transition: transform .3s wase;
}

.open_sidebar #open_btn_icon{
  transform: rotate(180deg);
}

.item_description{
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: width .5s;
  color: var(--var-cor-branca);
  font-size: 16px;
  height: 0px;
}

#sidebar.open_sidebar{
  min-width: 15%;
}

#sidebar.open_sidebar .item_description{
  width: 150px;
  height: auto;
}

#sidebar.open_sidebar .side_item a {
  justify-content: flex-start;
  gap: 20px;
}